<mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary"
    style="position: absolute; top: 0; z-index: 5000;">
</mat-progress-bar>

<div *ngIf="nvo">
    <h2>Nuevo Comercio</h2>
</div>
<form [formGroup]="nvoComerForm" novalidate>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Datos del Comercio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-icon color="primary" matPrefix>store</mat-icon>
                        <input matInput placeholder="Nombre" formControlName="nombre">
                        <mat-error *ngIf="nvoComerForm.controls['nombre'].hasError('required')">
                            Nombre no puede estar en blanco
                        </mat-error>
                    </mat-form-field>
                </div>
                <div><input type="text" formControlName="logo" id="logo"></div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-icon color="primary" matPrefix>widgets</mat-icon>
                    <mat-label>Rubro</mat-label>
                    <mat-select formControlName="rubro">
                        <mat-option *ngFor="let rubro of rubros" [value]="rubro.nombre">
                            {{rubro.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-icon color="primary" matPrefix>home_work</mat-icon>
                    <input matInput placeholder="Calle" formControlName="calle">
                </mat-form-field>

                <mat-form-field>
                    <mat-icon color="primary" matPrefix>money</mat-icon>
                    <input matInput type="number" placeholder="Número" formControlName="nro" maxlength="3">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-icon color="primary" matPrefix>emoji_transportation</mat-icon>
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="ciudad">
                        <mat-option *ngFor="let city of cities" [value]="city.nombre">
                            {{city.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-icon color="primary" matPrefix>phone</mat-icon>
                    <input matInput type="number" placeholder="Teléfono" formControlName="tel" maxlength="11">
                    <mat-hint align="end">Sólo números</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-icon color="primary" matPrefix>smartphone</mat-icon>
                    <input matInput type="number" placeholder="Celular" formControlName="cel" maxlength="11">
                    <mat-hint align="end">Sólo números</mat-hint>
                </mat-form-field>
            </div>
            <div class="row borde">
                <mat-label>
                    <mat-icon color="primary" matPrefix>credit_card</mat-icon> <sup>Métodos de pago</sup>
                    <div class="checks" formGroupName="metPago">
                        <mat-checkbox class="margin" [formControlName]="'ft'">Efectivo
                        </mat-checkbox>&nbsp;
                        <mat-checkbox class="margin" [formControlName]="'tc'">T.Crédito
                        </mat-checkbox>&nbsp;
                        <mat-checkbox class="margin" [formControlName]="'td'">T.Débito
                        </mat-checkbox>&nbsp;
                        <mat-checkbox class="margin" [formControlName]="'mp'">Mercado Pago
                        </mat-checkbox>
                    </div>
                </mat-label>
            </div>
            <div class="row borde">
                <mat-label>
                    <mat-icon color="primary" matPrefix>two_wheeler</mat-icon> <sup>Métodos de Entrega</sup>
                    <div class="checks" formGroupName="metDeli">
                        <mat-checkbox class="margin" [formControlName]="'moto'">Moto
                        </mat-checkbox>&nbsp;
                        <mat-checkbox class="margin" [formControlName]="'retir'">Retira en puerta</mat-checkbox>
                    </div>
                </mat-label>
            </div>
            <div class="row borde">
                <mat-label>
                    <mat-icon color="primary" matPrefix>emoji_people</mat-icon> <sup>Métodos para Pedir</sup>
                    <div class="checks" formGroupName="pedirPor">
                        <mat-checkbox class="margin" [formControlName]="'whatsapp'">Whatsapp
                        </mat-checkbox>&nbsp;
                        <mat-checkbox class="margin" [formControlName]="'telefono'">Teléfono</mat-checkbox>
                    </div>
                </mat-label>
            </div>
            <div class="col borde">
                <mat-icon color="primary" matPrefix>add_photo_alternate</mat-icon>
                <button [disabled]="!nvoComerForm.valid" mat-button (click)="openDialog()">
                    Logo o frente del Comercio
                </button>
            </div>


            <!-- <mat-card-actions class="botones" fxLayoutAlign="center center"> -->
            <div fxLayoutAlign="center" class="botones">
                <button type="button" [class.spinner]="grabando" [disabled]="(grabando || !nvoComerForm.valid)"
                    mat-stroked-button (click)="onSubmit()">Guardar</button>
                <button type="button" mat-stroked-button class="btn btn-default" (click)="resetModel()">Reset</button>
            </div>
            <!-- </mat-card-actions> -->
        </mat-card-content>
    </mat-card>
</form>