#logo {
  display: none;
}
h2 {
  color: lighten($color: #444444, $amount: 20);
}
.botones {
  padding: 0.6rem;
}

.etiqueta {
  font-size: 0.8rem;
}
mat-checkbox {
  margin-right: 1rem;
}
.checks {
  margin-left: 2rem;
}
mat-icon {
  margin-right: 0.5rem;
}
.borde {
  border-color: rgb(182, 182, 182);
  border-width: 1.5px;
  border-style: hidden hidden solid hidden;
  margin-top: 1rem;
}
.borde sup {
  font-size: 0.8rem;
}
.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
mat-form-field {
  margin-right: 1rem;
}
.spinner {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 100px auto;
}

// desde: https://medium.com/@dkreider09/how-to-add-a-spinner-to-an-angular-material-button-the-simplest-way-ever-69e2f7005f29
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
