<mat-card>
    <mat-card-header>
        <mat-card-title id="tit">Preguntas Frecuentes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>&nbsp;</p>
        <p class="pgt">¿Qué es PediMe? <span class="emo">🤔</span></p>
        <p>
            Pedime es una App de delivery que conecta a comerciantes con sus clientes.</p>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Como usar este sitio si sos Comerciantes
                </mat-panel-title>
                <mat-panel-description>
                    click acá
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Esta es la página de Administración de tu vidriera en <strong>PediMe</strong></p>
            <p class="pgt">¿Tengo que hacer un aporte antes de empezar a trabajar con PediMe?</p>
            <p> <strong>No.</strong> Este es un servicio "a la gorra". Podés empezar a trabajar sin hacer un aporte.
                Pero claro, como es un proyecto que se sostiene en su comunidad, es necesario que en algún momento hagas
                tus
                aportes al mantenimiento de PediMe.</p>
            <p class="pgt">¿Por donde empiezo? <span class="emo">🤔</span></p>
            <p>Son 4 pasos como se explica en la página principa
                <a routerLink="/home" routerLinkActive="active">(ver)</a></p>
            <ol>
                <li>Te logueas</li>
                <li>Cargas los datos de tu comercio</li>
                <li>Agregás uno o mas productos</li>
                <li>Y listo!</li>
            </ol>

            <p class="pgt">Ya agregué un producto y lo quiero modificar. ¿Como hago? </p>
            <p>En el link <a routerLink="/prods" routerLinkActive="active">Tu Comercio</a> podés ver, editar, y
                borrar tus productos. Pero solo podés acceder a la zona Administrativa de la página si ya estas
                logueado.</p>
            <p class="pgt">¿Es obligatorio agregar una foto del producto o de mi Comercio?</p>
            <p>Si, es obligatorio para que se muestre en la apliación de celulares. Si todavía no tenés una foto, sacale
                una linda foto a tus productos y después empezá a llenar el formulario de <a routerLink="/nvoProd"
                    routerLinkActive="active">Nuevos Productos</a> </p>
            <p class="pgt">Tengo un producto que sólo vendo este mártes y jueves. ¿Como puedo publicarlo y que el
                miércoles no me lo pidan?</p>
            <p>Podés destildar la casilla "Visible" para ocultar productos que no verán tus clientes si no los tenes
                disponibles, por falta de stock, porque solo se vende los...martes,
                o simplemente ocultarlos si son una oferta temporaria.
            </p>
            <p class="pgt">¿Para que se utilizan los datos que cargo acá?</p>
            <p>
                Los comerciantes registran sus datos
                para
                darle mas comodidad al cliente y que pueda pedir automáticamente desde la aplicación.
                De esta manera el cliente sabe si puede pagar con tarjeta o no, si aceptan Mercado Pago, si agrega el
                contacto para pedir por whatsapp.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    O si sos cliente y querés pedir por la App
                </mat-panel-title>
                <mat-panel-description>
                    click acá
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                Tenés que hacer tu pedido seleccionaan los productos, y hacercelo llegar al comerciante por
                via telefónica o whatsapp.
                Ellos lo preparan y te lo llevan hasta tu casa ¡Así de fácil!
                Pedime es el puente que conecta a los clientes con todos los comerciantes que ofrecen determinado
                producto.
                ¡Estamos para hacer las compras online mucho más fácil, rápida y cómoda!
                Queremos apoyar la economía de los pequeños comerciantes de barrio ayudándolos a vender más y mejor.
            </p>

            <p class="pgt">¿Pero cómo hago un pedido❓</p>
            <p>
                ¡Hacer un pedido es muy fácil! Solo debes seguir los siguientes pasos:</p>

            <ul class="lista">
                <li>
                    Descarga la aplicación desde <a
                        href='https://play.google.com/store/apps/details?id=com.gzsoft.pedime'>Google Play para
                        Android.</a>
                </li>
                <li>
                    Ingresas tus datos: Un nombre, una dirección(donde te van a enviar los productos) y tu ciudad para
                    que puedas ubicar los comercios cercanos.
                </li>
                <li>
                    Elegís los productos que querés que te lleven
                </li>
                <li>
                    Confirmás tu pedido con el comerciantes,
                </li>
                <li>
                    ¡Y listo! Tu pedido en casa, en minutos.
                </li>
            </ul>


            <p class="pgt">¿Quién realiza las entregas? <span class="emo">🛵</span></p>
            <p>
                Las entregas las realizan los repartidores de los comercios y te las llevan como lo venían haciendo.
                Apoyamos la economía barrial y ayudamos a los comerciantes locales a vender más y mejor.
            </p>

            <p class="pgt">¿Cuánto cuesta el envío? <span class="emo">💵</span></p>
            <p>
                El costo del envío lo fija el comercio, como lo hacía hasta este momento, <strong>PediMe</strong> es el
                pegamento que
                une al comerciante con el cliente. Nada mas. No le cobra nada a nadie. Si sos comerciente y lográs
                mejorar tus ventas, solo te pedimos que reconozcas eso y hagas una donación acorde a PediMe.
            </p>

            <p class="pgt">Métodos de pago <span class="emo">💳</span></p>
            <p>
                Los métodos de pago los fija el comercio y se muestran en la aplicación.
            </p>

            <p class="pgt">
                ¿Tengo que registrarme? <span class="emo">🤔</span>
            </p>
            <p>
                <strong>No.</strong> PediMe no le exige al usuario que se registre ni comparta sus datos con
                nosotros. El nombre, la ciudad y la dirección que se configuran en la aplicación solo se utilizan
                para armar el pedido automáticamente al completar el carrito.
                No espiámos ni nos guardamos información de los pedidos. PediMe no utilizará
                esos datos para otra cosa que no sea facilitar el vínculo entre comerciantes y consumidores. (Ver <a
                    href="/pp">Politicas de Privacidad</a>)
            </p>
        </mat-expansion-panel>
        <p>&nbsp;</p>
    </mat-card-content>
</mat-card>