.pgt {
  margin-top: 1.7rem;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1 0 1 0rem;
  text-indent: 1.5rem;
}
.lista {
  margin-bottom: 1rem;
  margin-left: 3rem;
}
.emo {
  font-size: 1.6rem;
}
p {
  font-size: 1.1rem;
}
#tit {
  font-weight: bolder;
  font-size: x-large;
  color: rgb(1, 102, 102);
}
