.footer {
  height: inherit;
  vertical-align: text-bottom;
  background-color: whitesmoke;
  color: white;
  // font-weight: 600;
  font-size: medium;
  padding-left: 1em;
  padding-right: 1em;
}
.formales {
  padding-bottom: 0.3em;
}
.spacer {
  flex: 1;
}
/* .logo {
  color: #015c4d;
  padding: 0.7em;
  display: flex;
  float: right; 
} */
i {
  color: #015c4d;
}
:any-link {
  color: #015c4d;
  text-decoration: none;
}
.fondo {
  // background-color: grey;
  color: black;
  font-size: x-small;
}
.fondo p {
  margin: 0em 0.5em 0.2em 0.1em;
}
.final {
  color: black;
}
