<div class="footer">
    <div class="logo" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px">
        <div fxLayout="column">
            <br>
            <p class="formales">
                <a routerLink="/faq" routerLinkActive="active">
                    <mat-icon class="icon">contact_support</mat-icon>
                    &nbsp; Preguntas Frecuentes
                </a>
            </p>
            <p class="formales">
                <a routerLink="/pp" routerLinkActive="active">
                    <mat-icon class="icon">local_parking</mat-icon>
                    &nbsp; Políticas de Privacidad
                </a>
            </p>
            <p class="formales">
                <a routerLink="/tos" routerLinkActive="active">
                    <mat-icon class="icon">book</mat-icon>
                    &nbsp; Términos del Servicio
                </a>
            </p>
            <div class="spacer"></div>

        </div>

    </div>
    <div class="fondo" fxLayout="column" fxLayoutAlign="end end">
        <p>Google Play y el logotipo de Google Play son marcas comerciales de Google LLC.</p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>&nbsp;
            |&nbsp; Otros íconos de <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>

        <p>Para comunicarse con nosotros puede dirigirse a <a href="https://gzsoftw.web.app" target="_blank"
                rel="noopener noreferrer">nuestra página web</a>, o por mail a <a
                href="mailto:gzsoft@merlo-sl.com.ar">gzsoft@merlo-sl.com.ar</a></p>
        <p>&nbsp;</p>
    </div>
    <div fxLayoutAlign="end end" class="final">
        &copy;2020 - Desarrollado por
        <a href="https://gzsoftw.web.app/" target="_blank" rel="noopener noreferrer">
            <strong><i>&nbsp;GzSoft</i></strong>
        </a>
    </div>
</div>