#comer {
  padding-right: 0.5rem;
  margin-bottom: 0.2rem;
}
.spacer {
  flex: 1;
}
.toolbar {
  height: 3rem;
  background-color: whitesmoke;
  /*   font-size: x-large;
  font-weight: 600; */
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
}
.tit {
  font-family: "Anton", sans-serif;
  color: #018f77;
  margin-left: 1em;
  font-size: xx-large;
  // font-weight: bolder;
  text-decoration: none;
  text-shadow: 0.5px 0.5px 1px black;
  //  darkcyan;
}
sup {
  font-size: x-small;
}
:any-link {
  text-decoration: none;
}

.menu {
  margin-left: 0.6rem;
  margin-right: 1.8rem;
}
.avatar {
  max-width: 35px;
  min-width: 35px;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 153, 153);
}
.avatar:hover {
  border-color: rgb(68, 250, 241);
}
