<div class="toolbar" fxLayout="row" fxLayoutAlign="center center">
    <a routerLink="/" routerLinkActive="active">
        <span class="tit">PediMe</span></a>

    <div class="spacer"></div>

    <a class="menu" mat-list-item routerLink="/admin-com" routerLinkActive="active">
        <mat-icon color="primary">store</mat-icon><sup> Su Comercio</sup>
    </a>
    <a *ngIf="loggedIn" class="menu" mat-list-item routerLink="/authPage" routerLinkActive="active">
        <mat-icon color="primary">input</mat-icon>&nbsp; &nbsp;<sup>Ingresar</sup>
    </a>
    <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar>

</div>