.gde {
  height: 100px;
}
.spin {
  max-height: 140px;
  margin: 2rem;
}
mat-card {
  padding: 0;
  background-color: rgb(166, 218, 173);
}
mat-card-title {
  margin-top: 4%;
  font-size: 1.2rem;
}
#cartel {
  margin-top: 5em;
}
.btnTxt {
  color: rgb(50, 105, 82);
}

button {
  margin-bottom: 1%;
}
.icn {
  max-height: 100px;
  max-width: auto;
}
mat-card-content {
  padding: 0.7rem;
  background-color: ivory;
}
.content {
  padding: 1rem;
}
.botones {
  margin: 1rem;
}
.interno {
  margin-top: 0.3em;
  border-width: medium;
  border-radius: 5px;
  border-color: black;
  background-color: lightblue;
  padding: 0.5rem;
  // width: min-content;
}
.interno h3 {
  font-weight: bolder;
}
.lista {
  padding: 0.5rem;
}
.sub {
  text-decoration: underline;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
#comercio {
  margin-left: 2rem;
  height: 100px;
}
