<div class="content">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="22px" fxLayoutAlign="flex-start">

        <div fxFlex="1 1 33%" fxFlex.lt-sm="100%">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>
                        Comercio
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>Editar los datos de su comercio</p>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img class="icn" src="../../assets/store-1.svg" alt="Comercio">
                    </div>
                </mat-card-content>
                <mat-card-footer fxLayoutAlign="center">
                    <button mat-stroked-button color="primary" (click)="editaComercio()">
                        <mat-icon matPrefix color="primary">edit</mat-icon> <span class="btnTxt">Editar</span>
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex="1 1 33%" fxFlex.lt-sm="100%">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>
                        Agregar Producto
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="column">
                    <p>
                        A su lista de delivery
                    </p>
                    <img class="icn" src="../../assets/product-1.svg" alt="Producto">
                </mat-card-content>
                <mat-card-footer fxLayoutAlign="center center">
                    <button mat-stroked-button color="primary" (click)="nuevoProducto()">
                        <mat-icon matPrefix color="primary">add</mat-icon> <span class="btnTxt">Agregar</span>
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex="1 1 33%" fxFlex.lt-sm="100%">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title fxLayoutAlign="center center">
                        <!-- <mat-icon matPrefix>list_alt</mat-icon> -->
                        Productos
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="column">
                    <p>
                        Ver/Editar Productos ofrecidos.
                    </p>
                    <img class="icn" src="../../assets/packages-1.svg" alt="Pallet de Productos">
                </mat-card-content>
                <mat-card-footer fxLayoutAlign="center center">
                    <!--  [style.backgroundColor]="'#009aa9'"> -->
                    <button mat-stroked-button color="primary" (click)="listaProductos()">
                        <mat-icon matPrefix color="primary">list_alt</mat-icon> <span class="btnTxt">Lista</span>
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

    <div id="cartel" fxLayoutAlign="center">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    Cartel
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Bajate el cartel para tu negocio</p>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <a href="../../assets/cartel-PediMe.pdf"><img class="icn" src="../../assets/miniCartel.png"
                            alt="Cartel Comercio"></a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>