<div class="legal">
    <h2>Políticas de privacidad</h2>
    <h5>I. Alcance</h5>
    <p>Por medio de la Política de Privacidad se determina el tratamiento
        que el sitio Web PediMe de GzSoft dará a los datos recibidos por parte
        de los usuarios, y que estará en un todo de acuerdo a lo establecido
        en la Ley Nacional N° 25.326 de Habeas Data.</p>
    <p>De esta manera, en aquellos casos que los usuarios ingresen datos
        personales o información confidencial en el sitio, están aceptando
        las presentes políticas de privacidad y los <a routerLink="/tos" routerLinkActive="active">
            Términos y Condiciones
            de uso.</a>
    </p>
    <p>Para ello, el sitio Web PediMe proporciona a los usuarios los recursos
        adecuados para que tomen conocimiento de las presentes Políticas de
        Privacidad, los <a routerLink="/tos" routerLinkActive="active">Términos y
            Condiciones de uso</a> y Protección de Datos Personales.</p>
    <p>Asimismo, las mismas tienen por objeto establecer los criterios para
        el uso del sitio Web PediMe por medio del cual se podrán utilizar los
        servicios que brinda GzSoft.</p>
    <h5>II. Las presentes políticas describen:</h5>
    <ol type="a">
        <li>
            Cuáles serán los datos recolectados, cómo serán utilizados y la
            finalidad para los que serán tratados.
        </li>
        <li>
            Las consecuencias que
            deriven de proporcionar los datos o de la inexactitud de los
            mismos.
        </li>
        <li>
            Facultad y modo de ejercer los derechos de acceso,
            rectificación, actualización y supresión de los datos.
        </li>
        <li>
            La
            existencia de archivo, registro, base o banco de datos, electrónico
            o de cualquier otro tipo de que se trate y la identidad y domicilio
            de su responsable.
        </li>
    </ol>
    <p></p>
    <h6>a. Cuáles serán los datos recolectados, cómo serán utilizados y la
        finalidad para los que serán tratados</h6>
    <p>El sitio Web PediMe no recoge ningún tipo de información personal por parte
        de los usuarios sin que la misma sea explícitamente provista
        voluntariamente.</p>
    <p>Al crear su cuenta de usuario deberá consignar sus datos en un
        formulario que contiene campos obligatorios y campos opcionales.</p>
    <p>GzSoft nunca usará sus datos personales para ningún fin
        distinto de ponerse en contacto con usted y gestionar su cuenta de
        usuario del sitio Web PediMe de GzSoft.</p>
    <p>Los únicos datos necesarios para acceder a ciertos contenidos del
        sitio Web PediMe del GzSoft son nombres de usuario, contraseñas y
        direcciones de correo electrónico que se usan exclusivamente para
        ciertas funciones de gestión de usuarios como puede ser la
        recuperación de contraseñas.</p>
    <p>Otros datos de carácter personal podrán ser facilitados
        voluntariamente por los usuarios que en todo momento tienen acceso
        para modificarlos o cancelarlos personalmente.</p>
    <p>Toda información que sea recibida, determinada por ley y referida a
        los usuarios, es confidencial y no puede hacerse pública sin el
        consentimiento previo de aquellos, salvo que sea requerida por la
        autoridad competente, cumpliendo con las normas y recaudos
        establecidos para la protección de datos personales.</p>
    <p>Ante cualquier duda, queja o sugerencia acerca de este documento o el
        tratamiento de sus datos por parte de GzSoft, por favor póngase
        en contacto con nosotros. En el formulario se le pide que nos
        indique su nombre y dirección de correo electrónico.</p>
    <p>Es posible que los formularios y navegadores transmitan
        automáticamente información acerca de su navegador, su sistema
        operativo, y este compartamiento no está manipulado por GzSoft, ni GzSoft
        tiene conocimiento de todos los mecanismos
        que utilizan los navegadores para esos fines.</p>
    <p>La información que nos envía mediante el formulario de contacto del
        sitio Web PediMe de GzSoft no se asocia con otra información que
        GzSoft pueda tener almacenada acerca de usted si es un usuario
        registrado.</p>
    <p>En ningún caso se utilizarán los datos que usted nos suministre a
        través del formulario para campañas de marketing, publicidad o
        campaña política, o ningún otro uso.</p>
    <p>El GzSoft se reserva el derecho de modificar el contenido del
        documento de privacidad de datos personales con el objeto de
        adaptarlo a las novedades legislativas o jurisprudenciales, así como
        a las que pudieran derivarse de códigos tipo existentes en la
        materia.</p>
    <p>GzSoft entiende que desde el momento en que un menor de edad
        accede al sitio Web PediMe de GzSoft, cuenta con el permiso de sus
        padres, de su tutor o de su representante legal. Siempre que el
        sitio Web PediMe de GzSoft le solicite datos de carácter personal,
        incluirá un enlace vinculado al presente documento con el propósito
        de informarle de sus derechos y obligaciones en materia de
        protección de datos de carácter personal.</p>
    <h6>b. Las consecuencias que deriven de proporcionar los datos o de la
        inexactitud de los mismos</h6>
    <p>La Ley Nacional Nro. 25.326 establece que ninguna persona puede ser
        obligada a proporcionar datos sensibles, entendiendo por tales a
        aquellos datos personales que revelan origen racial y étnico,
        opiniones políticas, convicciones religiosas, filosóficas o morales,
        afiliación sindical e información referente a la salud o a la vida
        sexual, pudiendo ser objeto de tratamiento cuando medien razones de
        interés general o autorizadas por ley. Del mismo modo esta ley,
        tiene por objeto la protección integral de los datos personales
        asentados en archivos, registros, bancos de datos u otros medios
        técnicos sean públicos o privados, garantizando el derecho al honor
        y a la intimidad de las personas, conforme art. 43 tercer párrafo de
        la Constitución Nacional.</p>
    <p>La información que se reciba será tratada en forma confidencial.</p>
    <p>Sólo podrán darse a conocer los datos que el marco normativo autorice
        y aquellos que expresamente consienta el usuario, a excepción de:
    </p>
    <ul>
        <li>Un pedido formal de autoridades judiciales.</li>
        <li>Un pedido formal de otras autoridades con competencia
            suficiente.</li>
    </ul>
    <h6>c. Facultad y modo de ejercer los derechos de acceso, rectificación,
        actualización y supresión de los datos</h6>
    <p>El derecho de acceso es uno de los derechos establecidos por la Ley
        Nacional Nro. 25.326 – Protección de Datos Personales, que permite a
        los ciudadanos (usuarios en este caso), acceder a la información
        registrada, pudiendo administrar así, el uso que se hace de sus
        datos personales.</p>
    <p>El usuario podrá ejercer los siguientes derechos ante GzSoft y
        a través del sitio Web PediMe:</p>
    <ul>
        <li>Solicitar información al organismo de control, relativa a la
            existencia de archivos, registros, bases o bancos de datos
            personales, sus finalidades y la identidad de sus responsables.
            El registro que se lleve al efecto será de consulta pública y
            gratuita.</li>
        <li>Solicitar y obtener información de sus datos personales
            incluidos en los bancos de datos públicos, o privados destinados
            a proveer informes.</li>
        <li>Solicitar la modificación de sus datos personales cuando ellos
            no sean correctos o no estén actualizados, si fuere procedente,
            y;</li>
        <li>Solicitar la rectificación, actualización, supresión,
            confidencialidad de los datos personales de los que sea titular
            y que se encuentren incluidos en un banco de datos.</li>
    </ul>
    <h6>d. La existencia de archivo, registro, base o banco de datos,
        electrónico o de cualquier otro tipo de que se trate y la identidad
        y domicilio de su responsable</h6>
    <p>En cada oportunidad en que el usuario haga uso de los servicios
        incluidos en el sitio Web PediMe, existe la posibilidad que, de manera
        automática, obtenga y almacene información en los registros del
        servidor. Estos datos podrán incluir:</p>
    <ul>
        <li>información detallada sobre utilización del servicio.</li>
        <li>dirección de IP,</li>
        <li>cookies, que permitirán identificar tu navegador o tu cuenta.
        </li>
    </ul>
    <p>El sitio Web PediMe aplica medidas de seguridad, destinadas a diseñar
        procedimientos, métodos y técnicas a los fines de conseguir un
        sistema de información seguro y confiable.</p>
    <p>Se establecen una serie de estándares, protocolos, métodos, reglas,
        herramientas y leyes concebidas para minimizar los posibles riesgos
        a la infraestructura o a la información. Se pretende con ello la
        protección de la infraestructura y todo lo relacionado con esta y,
        especialmente, la información contenida o circulante.</p>
    <p>A los fines de contactarse con el GzSoft a cerca de los alcances
        de las presentes Políticas de Privacidad, tendrá a disposición la
        posibilidad de
        <a href="mailto:gzsoft@merlo-sl.com.ar">contactarse por email</a>
    </p>
</div>