<div class="mat-elevation-z4">
  <table mat-table class="full-width-table" [dataSource]="myData">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary"
      style="position: absolute; top: 0; z-index: 5000;">
    </mat-progress-bar>
    <!-- <table mat-table class="full-width-table"> -->

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let row">{{row.desc}}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let row">{{row.precio}}.-$</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Editar | Borrar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="edita(element.id)">
          <mat-icon>
            edit
          </mat-icon>
        </button> |
        <button mat-icon-button (click)="borra(element.id)">
          <mat-icon>
            delete_forever
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="50" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>

<!-- <div fxFlex="0 1 calc(70% - 32px)" fxFlex.lt-sm="100%" id="listProd">
  <div class="lista sq">
    <sq-datatable [items]="datatableItems" [sortByColumns]="sortByColumns"
      (pageChange)="getProds('9JeF0QkzBgQlgA1uqMBfemqSRIw2')" [paginatorConfig]="paginatorConfig">
      <!-- "fetchItems($event)">
</sq-datatable>
</div>
</div> -->