.gris {
  color: grey;
}
.col {
  flex: 1;
  margin-right: 20px;
}
.borde {
  border-color: rgb(182, 182, 182);
  border-width: 1.5px;
  border-style: hidden hidden solid hidden;
  margin-top: 1rem;
}
sup {
  color: grey;
}
.full-width {
  width: 100%;
}
#finput {
  max-height: 1.1rem;
  // margin-left: 3px;
}

.botones {
  padding: 0.6rem;
}

.etiqueta {
  font-size: 0.8rem;
}
.borde {
  border-color: rgb(182, 182, 182);
  border-width: 1.5px;
  border-style: hidden hidden solid hidden;
}
.imagen {
  margin-top: 1rem;
  border-radius: 10px;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

mat-icon {
  margin-right: 0.5rem;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
