<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>Datos del Producto</mat-card-title>
    </mat-card-header>
    <form [formGroup]="nvoProdForm" novalidate>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-icon color="primary" matPrefix>local_mall</mat-icon>
                <input matInput placeholder="Nombre" formControlName="nombre">
                <mat-error *ngIf="nvoProdForm.controls['nombre'].hasError('required')">
                    Nombre no puede estar en blanco
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-icon color="primary" matPrefix>menu_book</mat-icon>
                <input matInput placeholder="Descripción" formControlName="desc">
                <mat-error *ngIf="nvoProdForm.controls['desc'].hasError('required')">
                    La Descripción no puede estar en blanco
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-icon color="primary" matPrefix>attach_money</mat-icon>
                <input matInput type="number" placeholder="Precio" formControlName="precio">
                <mat-error *ngIf="nvoProdForm.controls['precio'].hasError('required')">
                    Precio no puede estar en blanco
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row borde">
            <mat-label>
                <!-- <mat-icon color="primary" matPrefix>visibility</mat-icon><sup>Visibilidad</sup> -->
                <div class="checks">
                    <mat-checkbox class="margin" [formControlName]="'visible'"><span class="gris"> ¿Muestro el
                            producto?</span>
                    </mat-checkbox>
                </div>
                <p>
                    <sub>
                        (Con esto podés tener ocultos productos por falta de stock o similar, y ponerlos visibles mas
                        adelante.)
                    </sub>
                </p>
            </mat-label>
        </div>

        <div class="col borde">
            <mat-icon color="primary" matPrefix>add_photo_alternate</mat-icon>
            <button [disabled]="!nvoProdForm.valid" mat-button (click)="openDialog()">
                Imagen del producto
            </button>
        </div>

        <div fxLayoutAlign="center" class="botones">
            <button type="button" color="primary" [class.spinner]="grabando"
                [disabled]="(grabando || !nvoProdForm.valid)" mat-stroked-button (click)="onSubmit()">Guardar</button>
            &nbsp;<button type="button" mat-stroked-button (click)="resetModel()">Reset</button>
        </div>
    </form>

</mat-card>