<div class="legal">
    <h2>Términos y condiciones de uso</h2>
    <h5>I. Alcance</h5>

    <p>El sitio PediMe de GzSoft fue creado, diseñado y puesto
        a disposición de manera gratuita a los usuarios de Internet para su
        uso, y administrado por GzSoft, y/o quien en un futuro lo reemplace.</p>
    <p>El Sitio PediMe tiene como finalidad la promoción del GzSoft y la
        información sobre los servicios, así como servir de herramienta de
        comunicación con sus habitantes, visitantes y personas interesadas.
    </p>
    <p>El uso del Sitio PediMe presupone la plena aceptación de las Condiciones
        de Uso y <a routerLink="/pp" routerLinkActive="active">Políticas de Privacidad</a>, por lo que se recomienda al
        Usuario su lectura atenta, previa a la navegación.</p>

    <h5>II. Modificación de términos y vigencia</h5>
    <p>GzSoft puede alterar las condiciones de estos términos en
        cualquier momento, sin comunicación previa. Su uso continuo
        significa la aceptación de esos cambios.</p>

    <h5>III. Responsabilidad</h5>
    <p>GzSoft no se responsabiliza por daños y pérdidas que surjan en
        relación con las consultas o visitas realizadas al Sitio Web.</p>
    <p>GzSoft no puede garantizar que la transmisión de información
        por parte de los usuarios sea completamente segura. El usuario asume
        este riesgo.</p>
    <p>El usuario se compromete a:</p>
    <ul>
        <li>No intentar acceder a datos restringidos o a intentar violar las
            barreras de seguridad para llegar a ellos.</li>
        <li>No realizar búsquedas de vulnerabilidades o explotación de las
            mismas para cualquier fin.</li>
        <li>No divulgar información acerca de la detección de
            vulnerabilidades encontradas en el sitio.</li>
        <li>Enviar información de vulnerabilidades detectadas en el sitio
            <a href="mailto:gzsoft@merlo-sl.com.ar"> al mail de Gzsoft </a>
        </li>
    </ul>
    <p>El usuario acepta las <a routerLink="/pp" routerLinkActive="active">políticas de privacidad.</a></p>

    <h5>IV. Limitación de responsabilidad</h5>
    <p>GzSoft no garantiza que el contenido del Sitio PediMe sea exacto,
        completo, actual o libre de errores técnicos o tipográficos.</p>
    <p>GzSoft se reserva el derecho de realizar cambios y/o
        actualizaciones de cualquier información contenida en el Sitio PediMe
        sin previo aviso.</p>
    <p>GzSoft no se responsabiliza por cualquier daño que resultara
        por el uso o la inhabilidad en el uso del Sitio PediMe o cualquiera de
        los sitios enlazados, o descarga de cualquier información, dato,
        texto, imagen, video, audio, software u otros materiales accesibles
        a través del mismo.</p>
    <p>GzSoft no garantiza que las funciones contenidas en el sitio
        Web estarán libres de interrupciones en el servicio o libres de
        error, tampoco garantiza inmediatez en la corrección de los
        defectos.</p>
    <p>GzSoft se reserva el derecho, a su propia discreción y sin
        ninguna obligación, de realizar mejoras o corregir cualquier error u
        omisión en cualquiera de los contenidos publicados.</p>
    <p>GzSoft no se responsabiliza por el uso indebido que hagan los
        Usuarios de los contenidos del Sitio PediMe; entendiéndose por
        contenidos toda información, dato, texto, imagen, video, audio,
        software u otros materiales multimedia accesibles a través del
        mismo.</p>
    <p>GzSoft no garantiza o refrenda la exactitud y
        la veracidad de la información publicada ni los contenidos
        incluidos, distribuidos, enlazados, descargados u obtenidos del
        sitio web PediMe, como tampoco la calidad de cualquiera de
        los productos, servicios, información u otros elementos expuestos,
        adquiridos u obtenidos como resultado de la publicidad o cualquier
        otra información u oferta disponible en o con relación al sitio web
        PediMe.</p>
    <p>GzSoft no se compromete a revisar previamente
        a su difusión los contenidos que los usuarios de PediMe publiquen,
        por lo que no es responsable, en
        ningún caso de su exactitud, su veracidad, o de su adecuación a la
        legislación vigente, entre otras la referida a derechos de propiedad
        intelectual e industrial, intimidad, honor y/o propia imagen.</p>
    <p>GzSoft expresamente declina cualquier
        garantía, expresa o implícita, con respecto a cualquier servicio,
        material y/o producto, incluyendo, a título enunciativo y no
        limitativo, las garantías relativas a los niveles de calidad,
        expectativas de negocio y de adecuación a objetivos particulares de
        los usuarios.</p>
    <p>GzSoft no asumirá bajo ninguna circunstancia
        la responsabilidad de cualquier reclamación, daño, pérdida o demanda
        de ningún tipo con respecto al contenido del Sitio PediMe
        GzSoft, incluyendo, a título enunciativo y no limitativo,
        pérdidas directas, indirectas o accidentales (ya sean pérdidas
        económicas, de datos, o de utilización de los servicios), con
        independencia de que hayan sido notificadas o no.</p>

    <h5>V. Enlaces (links)</h5>
    <p>Este sitio Web puede contener enlaces o links a otros Sitios Web operados
        por otros administradores, que no son mantenidos ni controlados por
        este sistema, y en consecuencia, éste no es responsable por sus
        contenidos o disponibilidad.</p>
    <p>La instalación de estos enlaces tiene por único objeto facilitar a
        los usuarios la búsqueda de contenidos y servicios disponibles en
        Internet, así como el acceso a la información. El establecimiento
        del enlace no implica la existencia de relaciones entre GzSoft
        y el propietario de la página web en la que se establezca, ni la
        aceptación y aprobación por parte del GzSoft de sus contenidos o
        servicios.</p>

    <p>Salvo que expresamente se manifieste lo contrario, GzSoft no
        ofrece ni comercializa por sí ni por medio de terceros la
        información, contenidos y servicios disponibles en los sitios o
        páginas enlazadas, ni los controla previamente, aprueba, vigila ni
        los hace propios.</p>
    <p>GzSoft no asume responsabilidad alguna respecto a la precisión
        del contenido, el cumplimiento de las normas sobre derechos de
        autor, la legalidad o la decencia del contenido ni de los servicios
        a los que el usuario pueda acceder en dichas páginas. GzSoft
        tampoco asumirá responsabilidad alguna por cualquier contenido,
        productos, servicios, publicidad, ni cualquier otro material
        disponible en los mismos.</p>
    <p>Por lo descripto en los párrafos precedentes el Usuario deberá
        verificar por sí mismo la Política de Uso de cada Sitio Web
        enlazado.</p>

    <h5>Propiedad intelectual</h5>
    <p>GzSoft quiere respetar los derechos de propiedad intelectual e
        industrial pertenecientes a los autores y creadores, así como para
        impulsar a nuestros usuarios a respetarlos igualmente. GzSoft
        podrá deshabilitar el acceso de los usuarios que infrinjan en sus
        comentarios los derechos de propiedad intelectual o industrial de
        terceros, y cancelar los contenidos correspondientes.</p>
    <p>Todos los contenidos mostrados, así como el aspecto visual del sitio
        web PediMe, son propiedad GzSoft o han sido cedidos
        explícita o implícitamente por sus respectivos propietarios a los
        efectos oportunos. La información disponible a través del Sitio PediMe
        de GzSoft está accesible para su visualización, pero no
        necesariamente para su acceso, descarga y utilización.</p>
    <p>Los usuarios normalmente podrán guardar o imprimir partes de ese
        sitio web para su propio uso personal y no comercial.</p>
    <p>Cualquier otro uso, incluyendo la reproducción, distribución,
        comunicación pública y transformación está, salvo expresa
        declaración en contrario, prohibida.</p>
    <p>El Sitio PediMe de GzSoft puede contener información de propiedad
        exclusiva de GzSoft, privilegiada o amparada por el secreto
        administrativo. El acceso no autorizado, uso, reproducción, o
        divulgación están prohibidos.</p>
    <p>No deberá utilizar, revelar, distribuir, imprimir o copiar tales
        contenidos ni ninguna de sus partes si usted no es el destinatario.
    </p>
    <p>En el caso de que usted considere que la publicación de cualquier
        contenido vulnera sus derechos, deberá ponerse en contacto con
        GzSoft a través de nuestro formulario de comentarios
        identificándose personalmente e indicando la supuesta actividad
        ilícita y, en particular, cuando se trate de una supuesta violación
        de derechos de propiedad intelectual o industrial, descripción
        precisa y concreta de los contenidos protegidos, así como de su
        exacta localización. GzSoft analizará internamente su
        comunicación, adoptando aquellas medidas que entienda oportunas, en
        virtud de lo dispuesto en la legislación aplicable.</p>
    <p>Si usted desea solicitar autorización para utilizar cualquier marca,
        logotipo, diseño, o cualesquiera otros contenidos del Sitio PediMe de
        GzSoft, deberá remitirnos la siguiente información con el fin de
        analizar su solicitud:</p>
    <ul>
        <li>Nombre de la organización, empresa o persona solicitante.</li>
        <li>Dirección de la organización y otra serie de datos de contacto
            (email, teléfono…).</li>
        <li>Estado donde la compañía se halla domiciliada.</li>
        <li>Número registral de la compañía.</li>
        <li>Nombre de la publicación o sitio web o similares donde el
            material de GzSoft aparecería.</li>
        <li>Determinación exacta de los logos u otros materiales que serían
            utilizados.</li>
        <li>Captura de pantalla de la publicación o sitio web o similar
            donde el material de GzSoft aparecería.</li>
    </ul>
    <p>GzSoft solo podrá autorizar el uso sobre los materiales del
        sitio web de GzSoft, para la utilización de los materiales de
        cualquier otra entidad deberá ponerse en contacto directamente con
        sus responsables.</p>
    <!--     <h5>VI. Solución de conflictos, jurisdicción y domicilio legal</h5>
        <p>La relación existente entre GzSoft y los usuarios se basa en
            los principios de buena fe y cordialidad en atención a los fines
            perseguidos. En caso de surgir controversias en relación a la
            interpretación o implementación de las presentes condiciones de uso,
            acuerdan solucionarlas de común acuerdo. De persistir las mismas, se
            someterán a la competencia de los Tribunales Nacionales, renunciando
            expresamente a cualquier otro fuero o jurisdicción que pudiera
            corresponder.</p> -->
</div>