<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="22px" fxLayoutAlign="center center">

    <div fxLayout="column" fxLayoutAlign="center center" style="padding: 3em;">
        <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5em">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title fxLayoutAlign="center center">Logueate con tu cuenta Google para empezar a
                        vender</mat-card-title>
                </mat-card-header>

                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <!-- <ngx-auth-firebaseui-user></ngx-auth-firebaseui-user> -->
                    <br>&nbsp;<br>&nbsp;
                    <ngx-auth-firebaseui-providers layout="row" [providers]="[providers.Google]"
                        (onSuccess)="logueado()" (onError)="error()">
                    </ngx-auth-firebaseui-providers>

                </mat-card-content>
            </mat-card>

            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title fxLayoutAlign="center center">Si no tenés cuenta de Google, logueate con otros
                        emails
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <br>&nbsp;<br>&nbsp;
                    <button mat-raised-button (click)="toggle()">
                        con Email
                    </button>
                    <br>&nbsp;<br>&nbsp;
                    <ng-container *ngIf="ver">
                        <ngx-auth-firebaseui [providers]="[providers.Google]" (onSuccess)="logueado()"
                            (onError)="error()" [guestEnabled]=" false"> </ngx-auth-firebaseui>
                        <!----
                        [signInTabText]="'ngxauthfirebaseui.signInTabText' | translate"
                        [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
                        [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
                        [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
                        [nameText]="'ngxauthfirebaseui.nameText' | translate"
                        [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
                        [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
                        [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
                        [emailText]="'ngxauthfirebaseui.emailText' | translate"
                        [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
                        [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
                        [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
                        [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
                        [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
                        [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
                        [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
                        [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
                        [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
                        [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
                        [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' |
                        translate"
                        [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
                        [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
                        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
                        [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
                        [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate" 
                            
                        </ngx-auth-firebaseui>-->
                    </ng-container>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>