.spacer {
  flex: 1;
}
.shadow {
  box-shadow: 1px 1px 3px 1px rgb(190, 190, 190);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.contenido {
  padding: 1em;
}
/* .pie {
  position: vh-max;
  right: 0;
  bottom: 0;
  left: 0;
} */
