<div fxFlexFill fxLayout="column">
    <div fxFlex="none" class="shadow">
        <!-- <app-navbar></app-navbar> -->
        <app-topbar></app-topbar>
    </div>

    <div fxFlex="grow" class="contenido">
        <router-outlet></router-outlet>
    </div>
    <div fxFlex="none">
        <app-footer></app-footer>
    </div>
</div>