<h1 mat-dialog-title>
    <strong>Creá tu perfil</strong>
</h1>
<hr color="primary-darker-color">
<h3>Si sos usuario nuevo</h3>
<p>Vas a necesitar tener a mano para completar:</p>
<ol>
    <li>Todos los datos del comercio.</li>
    <li>La lista de métodos de pago disponibles al cliente.</li>
    <li>El logo o foto del frente del comercio en formato JPG o PNG.</li>
</ol>
<p>Dale, arranquemos</p>
<mat-dialog-actions fxLayoutAlign="center center">
    <button color="primary" mat-raised-button [mat-dialog-close]="true">Listo!</button>
</mat-dialog-actions>