<h3 fxLayoutAlign="center">¿Sos Usuario Nuevo?</h3>
<div fxLayout="column wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div id="nuevo" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <mat-card>
            <mat-card-content fxLayoutAlign="center center" fxLayoutGap="20px">
                <img class="polli" src="../../assets/pollito.png" alt="Pollito">
                <button mat-raised-button (click)="usuarioNuevo()">Soy Nuevo</button>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content fxLayoutAlign="center center" fxLayoutGap="20px">
                <img class="gallo" src="../../assets/otro gallo.png" alt="Gallito">
                <button mat-raised-button color="primary" (click)="usuarioViejo()"><span
                        class="no">Experto</span></button>
            </mat-card-content>
        </mat-card>
    </div>

</div>