.polli {
  width: 4rem;
  height: auto;
}
.gallo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border-color: grey;
  border-width: thin;
  border-style: solid;
}
.no {
  padding: 0rem 0.8rem 0rem 0.8rem;
}
