.dark-primary-color {
  background: #00796b;
}
.default-primary-color {
  background: #009688;
}
.light-primary-color {
  background: #b2dfdb;
}
.text-primary-color {
  color: #ffffff;
}
.accent-color {
  background: #00bcd4;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #bdbdbd;
}
