@import "~@angular/cdk/overlay-prebuilt.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  box-sizing: border-box;
}

.cont {
  margin: 0.6em;
}
mat-card {
  z-index: 3;
}

.legal {
  background-color: whitesmoke;
  border-radius: 25px;
  border-color: black;
  margin: 2em;
  padding: 2em;
  border-width: thick;
}
.legal p {
  margin: 0.5em;
  text-indent: 3%;
}
.legal h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.legal h5 {
  margin: 1em;
}
.legal ul,
ol {
  margin-left: 6%;
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
