<p>&nbsp;</p>
<span class="gorra">🧢</span>
<h1>Software a la gorra</h1>

<p>PediMe <span style="font-style: italic;">"a la gorra"</span> se crea a la luz de la nueva realidad que impuso la
    pandemia de COVID-19.</p>
<p>Consiste en que la comunidad de comerciantes que ofrece sus productos a travez de PediMe,
    se suscriba con un aporte MENSUAL para sostener este esfuerzo y poder, entre todos, ayudarnos y acompañarnos
    en esta nueva realidad con la que nos encontramos en 2020.
</p>
<p>SUSCRIBITE con un aporte sincero pensando en cuanto te aporta PediMe para sostener tu negocio.</p>
<div class="medio" fxLayoutAlign="center center">
    <p>¡Gracias! </p>
    <div class="gorrita"> 🎩 <div class="billete"> 💵</div>
    </div>
    <p>&nbsp;</p>

</div>

<div fxLayoutAlign="center center" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px">
    <div class="susc" fxLayoutAlign="center center" fxLayout="column">

        <a href="http://mbbx.co/ecgeksz"><img src="../../assets/001-rata.png" alt="abono rata"></a>
        <p>Abono mínimo:</p>
        <p class="precio"><a href="http://mbbx.co/ecgeksz">300$</a></p>
    </div>
    <div class="suscD" fxLayoutAlign="center center" fxLayout="column">
        <p>&nbsp;</p>
        <a href="http://mbbx.co/hfSDNP7"><img src="../../assets/002-delfin.png" alt="abono delfin"></a>
        <p>Abono amigo:</p>
        <p class="precioD"><a href="http://mbbx.co/hfSDNP7">1000$</a></p>
        <p>&nbsp;</p>
    </div>
    <div class="susc" fxLayoutAlign="center center" fxLayout="column">

        <a href="http://mbbx.co/6hkHtB1"><img src="../../assets/005-sello-2.png" alt="abono foca"></a>
        <p>Abono medio:</p>
        <p class="precio"><a href="http://mbbx.co/6hkHtB1">500$</a></p>
    </div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div fxLayoutAlign="center center" fxLayout="column wrap" fxLayoutGap="22px">
    <p>Además de los abonos, podés hacer tu aporte con una transferencia directa al siguiente CBU: </p>
    <!-- <p><img src="../../assets/pagos.jpg" alt="Medios de pago"></p> -->
    <!-- <p>&nbsp;</p> -->
    <!-- <p><img src="../../assets/CVU_Uala.png" alt="CVU-ualá"></p> -->
    <p><img src="../../assets/CBU_ICBC.png" alt="CBU-ICBC"></p>
</div>