.gorra {
  transform: rotate(-35deg);
  position: absolute;
  left: 10px;
  top: 92px;
  font-size: 1.7em;
  z-index: 3;
}
h1 {
  font-size: 3em;
}
p {
  font-size: 1.2em;
}
.gorrita {
  font-size: 2em;
  transform: rotate(-180deg);
  z-index: 3;
}
.billete {
  font-size: 0.9em;
  transform: rotate(-42deg);
  //   font-variant-position: super;
  top: 29px;
  left: -10px;
  position: fixed;
  z-index: 3;
}
.medio {
  margin: 2rem;
}
.susc {
  margin: 0.6em;
  padding: 1em;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
  border-color: rgb(76, 122, 103);
  box-shadow: 2px 2px 3px darkkhaki;
}
.suscD {
  margin: 0.6em;
  padding: 1em;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
  border-color: rgb(252, 255, 72);
  box-shadow: 2px 2px 3px darkkhaki;
  min-height: 260px;
  min-width: 200px;
}
.precio {
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: darkcyan;
  color: white;
  border-radius: 6px;
  border-color: darkcyan;
}
.precioD {
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: goldenrod;
  color: white;
  border-radius: 6px;
  border-color: gold;
}
a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}
a:link,
a:visited,
a:active {
  font-weight: bold;
  text-decoration: none;
  color: yellow;
}
