.columnas {
  padding: 2rem;
  column-count: 2;
  column-gap: 55px;
  // column-rule-style: solid;
  // column-rule-width: 2px;
  // column-rule-color: darkcyan;
  // column-rule: darkcyan;
  column-span: 2px;
  column-width: 0.2vw;
}
.content {
  max-width: 50%;
  min-width: 50%;
  text-align: justify;
}
.pantallas {
  width: 50vw;
  height: auto;
  float: left;
}
.cartel {
  width: 11rem;
  height: auto;
}
#play {
  width: 200px;
  height: auto;
}
.step {
  font-size: 1.1rem;
  width: 70%;
  text-indent: 2rem;
}
.step::first-letter {
  font-weight: bold;
  color: darkcyan;
  font-size: x-large;
}
.gorra {
  transform: rotate(-30deg);
  font-size: 1.7em;
  z-index: 3;
  position: absolute;
}
.billete {
  transform: rotate(42deg);
  z-index: 3;
  position: absolute;
}
.emoji {
  font-size: 1.6em;
}
.emoji2 {
  font-size: 3em;
  transform: rotate(42deg);
  // z-index: 3;
  padding-left: 2rem;
  padding-right: 2rem;
}
p {
  font-size: 1.2em;
}
h2 {
  font-weight: bolder;
  font-size: x-large;
  color: rgb(1, 102, 102);
}
