<div fxLayout="column" fxLayoutGap="12px">
    <h2>
        ¡Bienvenidos!
    </h2>
    <div class="columnas">
        <p>
            Esta aplicación te ayuda a publicitar tus productos y ¡ganar ventas!
        </p>

        <p>El usuario arma su pedido y te lo hace llegar por los canales habituales que ya utilizas.</p>
        <p>Este es un servicio <strong>"a la gorra"</strong>. ¿A la gorra?<span class="emoji gorra">🧢</span> </p>
        <p> Si, cargá tus productos, recibí pedidos y <strong>mensualmente doná</strong> a la
            aplicación por lo que sinceramente ella te brinda. <span class="emoji billete">💵</span></p>
        <p>Se trata de una aplicación para celulares Android que le permite a los compradores buscar productos que se
            ofrezcan para delivery y que se pueden organizar por rubro.
        </p>
    </div>
    <h3>Son 4 pasos, mirá:</h3>
    <!-- <p>&nbsp;</p> -->
    <mat-vertical-stepper linear #stepper>
        <mat-step>
            <ng-template matStepLabel>
                <mat-label>
                    Logueate
                </mat-label>
            </ng-template>
            <div fxLayoutAlign="center center">
                <img src="../../assets/login.png" alt="pantalla nuevo comercio" />
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <mat-label>
                    Completá los datos de tu comercio
                </mat-label>
            </ng-template>
            <div fxLayoutAlign="center center">
                <img src="../../assets/NvoCom.png" class="pantallas" alt="pantalla nuevo comercio" />
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <mat-label>
                    Completá al menos un producto
                </mat-label>
            </ng-template>
            <div fxLayoutAlign="center center">
                <img src="../../assets/nvoProd.png" class="pantallas" alt="pantalla nuevo producto" /></div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <mat-label>
                    Listo!
                </mat-label>
            </ng-template>
            <div fxLayout="column" fxLayoutAlign="center center">
                <p class="step">Tu comercio ya aparece en la aplicación ordenado por rubro y ciudad, y te van a empezar
                    a pedir los productos que
                    cargaste.</p>
                <p class="step">Avisale a tus clientes, bajá el cartelito para tener en tu local y que todos sepan
                    que te pueden pedir a travéz de la <a
                        href=" https://play.google.com/store/apps/details?id=com.gzsoft.pedime">App de Android</a>
                </p>
                <a href="../../assets/cartel-PediMe.pdf"><img src="../../assets/miniCartel.png" alt="cartel"
                        class="cartel"></a>
            </div>

        </mat-step>
    </mat-vertical-stepper>
    <p>&nbsp;</p>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="start"
        class="hi-icon-wrap hi-icon-effect-8">
        <div fxFlex="10%" fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <p>
                <span class="emoji2">🍕</span>
            </p>
        </div>

        <div fxFlex="35%" fxLayoutGap="0.5%">
            <p class="step">
                Ahora tus clientes te podrán hacer pedidos por el canal habitual, ya sea whatsapp
                o por teléfono, como venias manejandolo hasta ahora. La ventaja que te brinda <strong>PediMe</strong> es
                que cuando
                busquen
                comprar algo de lo que tenés para
                ofrecer (por ej. pizza), te van a encontrar en la palma de sus manos.</p>
            <p class="step">Ellos elijen y el pedido te llega a vos como siempre, por una llamada o por whatsapp.
            </p>
        </div>
        <div fxFlex="10%" fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <p>
                <span class="emoji2">🦠</span>
            </p>
        </div>
        <div fxFlex="35%" fxLayoutGap="0.5%">
            <p class="step">
                Hicimos esta aplicación como una manera de ayudarnos entre todos a raíz de
                la pandemia del COVID-19 y queremos que todos puedan usarla y mantenerla de manera voluntaria.</p>
            <p class="step">Tené en cuenta que tiene un gran esfuerzo de programación y tiempo detrás, por eso esperamos
                que
                habiendo dado lo mejor de nosotros para realizarla,
                también vos brindes una donación mensual acorde al provecho que sabemos
                que <strong>
                    PediMe
                </strong> va a brindarte.
            </p>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>
        ¿Tenés mas dudas? consultá las <a routerLink="/faq" routerLinkActive="active">Preguntas Frecuentes </a>
    </p>

    <p>&nbsp;</p>
    <p>La aplicación para celulares la podés descargar desde:</p>
    <div fxLayoutAlign="center">
        <a
            href='https://play.google.com/store/apps/details?id=com.gzsoft.pedime&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img id="play" alt='Disponible en Google Play'
                src='https://play.google.com/intl/en_us/badges/static/images/badges/es_badge_web_generic.png' /></a>
    </div>
</div>