<div>
    <label class="etiqueta" for="file">Imagen del producto:</label>
    <div class="row">
        <mat-icon>add_photo_alternate</mat-icon>
        <input #imgInput hidden="true" type="file" onclick="this.value=null" (change)="fileChangeEvent($event)"
            accept="image/*" />
        <button id="finput" mat-button color="primary" (click)="imgInput.click()">{{btnArchivo}}</button>
    </div>

    <div>
        <h4 hidden="{{crop}}">Elija una porción de la imagen</h4>
        <image-cropper hidden="{{crop}}" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
            (imageCroppedFile)="fileCropped($event)"></image-cropper>
        <img [src]="imgURL">
        <!--         <div hidden class="imagen">
            <div fxLayout="row">
                <img [src]="imgURL">
                <h4>Nombre</h4>Descripción
                <span style="background-color: cadetblue;"> 235.00$</span>
            </div>
        </div> -->
        <ng-container *ngIf="(uploadPercent | async); let uploadPercent">
            <mat-progress-bar mode=" determinate" *ngIf="uploadPercent !== 100" [value]="uploadPercent">
            </mat-progress-bar>
        </ng-container>
    </div>

    <ng-container *ngIf=" (uploadPercent | async); let uploadPercent">
        <mat-progress-bar mode=" determinate" *ngIf="uploadPercent !== 100" [value]="uploadPercent">
        </mat-progress-bar>
    </ng-container>
    <div fxLayoutAlign="flex-end">
        <button mat-mini-fab color="primary" mat-raised-button (click)="echo()">
            <mat-icon>
                done
            </mat-icon>
        </button>
    </div>
</div>